# Node modules (reinstall inside container)
node_modules

# Logs
npm-debug.log

# Git
.git
.gitignore

# Environment
.env

# Local DB files
*.sqlite
*.db

# OS files
.DS_Store

# IDE
.vscode
.idea

# Tests (optional)
coverage
